# Text file
*.md
LICENSE

# Experiments config files
configs/RunExperiments/*
experiments/*
Experiments/*

# Log files
logs/*
runs/*
eval_result/*

# ckpt
ckpt/*

# archive
archive/*

# Other
*.swp
*.swo
__pycache__
.DS_Store



